################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApi/bin/Debug/netcoreapp3.1
/NUnitWebApi/bin/Debug/netcoreapp3.1
/NUnitWebApi/obj
/WebApi/.vs/WebApi
/WebApi/obj
